 html, body  {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
 
  --first-color: #e4f2f0;
  --second-color: #99d8d0;
  --third-color: #70416d;
  --fourth-color: #170a19;

}

#sapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

